h1 {
	color:orange;
	font-size: 90px;
	margin: 25px;
}

.title-banner {
	color:white;
	font-size: 50px
}

#banner {
	height: 55vh ;
	background-image: radial-gradient(circle, rgba(250,161,0,0.18393294817927175) 35%, rgba(255,199,0,1) 92%),url("../images/banner fromdelices.jpg");
	background-size: cover;
	background-position: center;
	color:white;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 16px;
	text-shadow: 2px 2px 4px orange;
}

h1{
	text-shadow: none;
}

.btn-produits {
	background-color: black;
	padding: 12px 20px;
	border-radius: 5px;
}